version: "3.9"

services:
  db:
    image: postgres:16
    container_name: notification-service-db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  server:
    container_name: notification-service-server
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3008:3008"
    depends_on:
      - db
    volumes:
      - ./uploads:/app/uploads
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  notification_net:
    driver: bridge
