version: "3.9"

services:
  notification-db:
    image: postgres:16
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - "5432:5432"
    env_file:
      - ./.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  notification-server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3008:3008"
    env_file:
      - ./.env
    depends_on:
      - db
    volumes:
      - ./uploads:/app/uploads
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  notification_net:
    driver: bridge
